<a href="https://colab.research.google.com/github/Wi-ll-i-am-9/Numpy_intro/blob/main/Numpy_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np

In [16]:
names=np.array(["Alice","Charlie","Eugene","Hannah","Oscar","Silatan","Bobby","Richey","Mitchell","William"])
scores=np.array([22,67,56,27,60,78,10,44,99,100])

In [17]:
for name,score in zip(names,scores):
    print(name,"-",score)

Alice - 22
Charlie - 67
Eugene - 56
Hannah - 27
Oscar - 60
Silatan - 78
Bobby - 10
Richey - 44
Mitchell - 99
William - 100

In [18]:
indices=np.argsort(scores)
sortednames=names[indices]
sortedscores=scores[indices]

In [19]:
for name,score in zip(sortednames,sortedscores):
    print(name,"-",score)

Bobby - 10
Alice - 22
Hannah - 27
Richey - 44
Eugene - 56
Oscar - 60
Charlie - 67
Silatan - 78
Mitchell - 99
William - 100

# **Findings**


*   **William** is the **best** student in the class with **100/100**
*   **Bobby** got the **least** and needs to improve, he has **10/100**